## Deliverable 2. Create a Customer Travel Destinations Map.

In [24]:
import sys, os
os.getcwd()

'C:\\Users\\shant\\Documents\\Github\\World_Weather_Analysis'

In [25]:
os.chdir('C:\\Users\\shant\\Documents\\Github\\World_Weather_Analysis')

In [26]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [21]:
# os.chdir('C:\\Users\\shant\\Documents\\GitHub\\World_Weather_Analysis\\Vacation_Search')

In [27]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Hualmay,PE,-11.0964,-77.6139,62.13,84,43,7.05,scattered clouds
1,1,Ushuaia,AR,-54.8000,-68.3000,44.26,61,40,17.27,light intensity drizzle
2,2,Matara,LK,5.9485,80.5353,81.07,81,84,10.27,broken clouds
3,3,Port Blair,IN,11.6667,92.7500,82.35,79,69,11.95,broken clouds
4,4,Rudsar,IR,37.1376,50.2880,67.98,71,0,3.40,clear sky

In [29]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minumum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minumum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [30]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]

preferred_cities_df

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Matara,LK,5.9485,80.5353,81.07,81,84,10.27,broken clouds
3,3,Port Blair,IN,11.6667,92.7500,82.35,79,69,11.95,broken clouds
6,6,Bayji,IQ,34.9311,43.4870,77.58,38,0,6.69,clear sky
10,10,Ibotirama,BR,-12.1853,-43.2206,78.69,51,35,4.54,scattered clouds
12,12,Bodden Town,KY,19.2833,-81.2500,84.20,84,20,1.01,few clouds
...,...,...,...,...,...,...,...,...,...,...
683,683,Sehwan,PK,26.4279,67.8630,84.02,51,17,5.77,few clouds
689,689,Mecca,SA,21.4267,39.8261,84.02,48,98,4.45,overcast clouds
691,691,Sanchor,IN,24.7553,71.7722,81.52,83,90,7.23,overcast clouds
692,692,Bhatkal,IN,13.9667,74.5667,77.43,90,100,2.15,overcast clouds
701,701,Praia,CV,14.9215,-23.5087,77.54,83,20,6.91,few clouds

In [31]:
# 4a. Determine if there are any empty rows.


# preferred_cities_df[ (preferred_cities_df['Humidity'].notnull()) & (preferred_cities_df['Humidity']!=u'') ].index

np.where(preferred_cities_df.applymap(lambda x: x == ''))

preferred_cities_df.notnull().sum()

Unnamed: 0             200
City                   200
Country                200
Lat                    200
Lng                    200
Max Temp               200
Humidity               200
Cloudiness             200
Wind Speed             200
Current Description    200
dtype: int64

In [32]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()

clean_df

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Matara,LK,5.9485,80.5353,81.07,81,84,10.27,broken clouds
3,3,Port Blair,IN,11.6667,92.7500,82.35,79,69,11.95,broken clouds
6,6,Bayji,IQ,34.9311,43.4870,77.58,38,0,6.69,clear sky
10,10,Ibotirama,BR,-12.1853,-43.2206,78.69,51,35,4.54,scattered clouds
12,12,Bodden Town,KY,19.2833,-81.2500,84.20,84,20,1.01,few clouds
...,...,...,...,...,...,...,...,...,...,...
683,683,Sehwan,PK,26.4279,67.8630,84.02,51,17,5.77,few clouds
689,689,Mecca,SA,21.4267,39.8261,84.02,48,98,4.45,overcast clouds
691,691,Sanchor,IN,24.7553,71.7722,81.52,83,90,7.23,overcast clouds
692,692,Bhatkal,IN,13.9667,74.5667,77.43,90,100,2.15,overcast clouds
701,701,Praia,CV,14.9215,-23.5087,77.54,83,20,6.91,few clouds

In [33]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Matara,LK,81.07,broken clouds,5.9485,80.5353,
3,Port Blair,IN,82.35,broken clouds,11.6667,92.7500,
6,Bayji,IQ,77.58,clear sky,34.9311,43.4870,
10,Ibotirama,BR,78.69,scattered clouds,-12.1853,-43.2206,
12,Bodden Town,KY,84.20,few clouds,19.2833,-81.2500,
13,Bathsheba,BB,83.01,scattered clouds,13.2167,-59.5167,
14,Georgetown,MY,86.90,few clouds,5.4112,100.3354,
15,Hithadhoo,MV,79.77,light rain,-0.6000,73.0833,
21,Meulaboh,ID,82.27,scattered clouds,4.1363,96.1285,
26,Adrar,MR,89.67,few clouds,20.5022,-10.0711,

In [42]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    
    lat = row["Lat"]
    lng = row["Lng"]
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
   
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

In [44]:
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Matara,LK,81.07,broken clouds,5.9485,80.5353,Amaloh Boutique Resort
3,Port Blair,IN,82.35,broken clouds,11.6667,92.7500,"Welcomhotel By ITC Hotels, Bay Island, Port Blair"
6,Bayji,IQ,77.58,clear sky,34.9311,43.4870,مروان /عدنان
10,Ibotirama,BR,78.69,scattered clouds,-12.1853,-43.2206,Serra do Rio Hotel
12,Bodden Town,KY,84.20,few clouds,19.2833,-81.2500,Will T Place
...,...,...,...,...,...,...,...
683,Sehwan,PK,84.02,few clouds,26.4279,67.8630,Lal Shahbaz Motel STDC
689,Mecca,SA,84.02,overcast clouds,21.4267,39.8261,"Makkah Clock Royal Tower, A Fairmont Hotel"
691,Sanchor,IN,81.52,overcast clouds,24.7553,71.7722,Hotel Amar Palace & AC Restaurant
692,Bhatkal,IN,77.43,overcast clouds,13.9667,74.5667,Nilawar Palace
701,Praia,CV,77.54,few clouds,14.9215,-23.5087,LT Aparthotel

In [45]:
# 7. Drop the rows where there is no Hotel Name.

# column "Hotel Name" has "" 
index_names = hotel_df[ hotel_df["Hotel Name"] == "" ].index

index_names 
  
# # drop these row indexes from dataFrame
clean_hotel_df = hotel_df.drop(index_names)

In [46]:
index_names

Int64Index([], dtype='int64')

In [47]:
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Matara,LK,81.07,broken clouds,5.9485,80.5353,Amaloh Boutique Resort
3,Port Blair,IN,82.35,broken clouds,11.6667,92.7500,"Welcomhotel By ITC Hotels, Bay Island, Port Blair"
6,Bayji,IQ,77.58,clear sky,34.9311,43.4870,مروان /عدنان
10,Ibotirama,BR,78.69,scattered clouds,-12.1853,-43.2206,Serra do Rio Hotel
12,Bodden Town,KY,84.20,few clouds,19.2833,-81.2500,Will T Place
...,...,...,...,...,...,...,...
683,Sehwan,PK,84.02,few clouds,26.4279,67.8630,Lal Shahbaz Motel STDC
689,Mecca,SA,84.02,overcast clouds,21.4267,39.8261,"Makkah Clock Royal Tower, A Fairmont Hotel"
691,Sanchor,IN,81.52,overcast clouds,24.7553,71.7722,Hotel Amar Palace & AC Restaurant
692,Bhatkal,IN,77.43,overcast clouds,13.9667,74.5667,Nilawar Palace
701,Praia,CV,77.54,few clouds,14.9215,-23.5087,LT Aparthotel

In [48]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [49]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [50]:
# 11a. Add a marker layer for each city to the map. 
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))